@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Meera Inimai', sans-serif;
    /* font-size: 12px; */
}
#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    border-bottom: 1px solid lightgray;
}

.navSection {
    width: 180px;
}

.navText {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.navText a {
    text-decoration: none;
    color: black;
}

.fa-chevron-down {
    color: #d95d4a;
}

.logo {
    width: 200px;
    margin-left: 40px;
    margin-top: 10px;
}

#searchIcon {
    width: 30px;
    float: right;
    margin-right: 40px;
}

.heroWrapper {
    margin-top: 40px;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
}

.container{
    margin: auto;
}

.mb-3{
    margin-bottom: 3rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-1{
    margin-top: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}


#hero {
    height: 500px;
    width: 90vw;
    background-image: url("/images/Banana-Bread-SQUARE-4.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    box-sizing: border-box;
}

#bakeButton {
    background-color: #d95d4a;
    border: none;
    width: 140px;
    height: 50px;
    color: white;
    border-radius: 5px;
}

/* recipe card */
.comfortFood{
    padding:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipeSection{
    display: flex;
}
.recipeCard{
    margin-right: 2rem;
    width: 305px;
    margin-bottom: 3rem;
    /* height: 516px; */
}
.recipeCard:last-child{
    margin-right: 0;
}

.recipeCard img{
    width: 100%;
    height: 395px;
    margin-bottom:1rem;
    object-fit: cover;
}
.recipeCard h3{
    margin-bottom: 3rem;
   font-size: 20px;
}

.instruction div{
    margin: 0 1rem 0 0;
}

.instruction{
    height: 58px;
    font-size: 10px;
}

.instruction p{
    margin-top: 0.6rem;
}

.serve .meta-icon svg, .little-effort .meta-icon svg{
    fill: #d95d4a;
}

.meta-icon{
    width: 32px;
    height: 32px;
}

.d-flex{
    display: flex;
}

.mr-1{
    margin-right:1rem ;
}

.vegeterian {
    width: 32px;
    height: 32px;
    fill: #76ec72;
}

.vege {
    margin-left: 1rem;
}

.newsletter{
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-direction: column;
    height: 550px;
    width: 80%;
    border-radius: 0.2rem;
    background-color: #bdd;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0;
    background-image: url("/images/newsletter-bg.svg");
    line-height: 1.3;
}

.newsletter h2{
    font-size: 32px;
}

.newsletter .input-line{
    display: flex;
}
.newsletter .input-line input{
    width: 35%;
    margin-right: 1rem;
    border-radius: 0.2rem;
    border: 0;
}
.newsletter .input-line button{
    width: 139px;
    height: 48px;
    outline: none;
    background-color: #007c8a;
    border-radius: 0.2rem;
    color: white;
    font-weight: 700;
    border: 0;
}

#bakingmad{
    display: flex;
}

#IGicon{
    fill: #d95d4a;
}

.tweets img{
    height: 263px;
    width: 263px;
    display: flex;
    flex-direction: row;
}

#hero2 {
    height: 500px;
    width: 90vw;
    background-image: url("/images/Pick\ and\ Mix\ Cake\ Jar\ Horizontal_3.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    box-sizing: border-box;
}

.sectionHeader{
    text-align: center;
}

@media (max-width:1500px) {
    .recipeSection{
        flex-wrap: wrap;
        justify-content: center;
    }
    .recipeCard{
        width: 40%;
        /* margin-right: unset; */
    }
    .newsletter .input-line input{
        width: 60%;
    }
}

@media (max-width:800px) {
    .recipeCard{
        width: 100%;
    }
    .newsletter{
        height: 290px;
    }
}

#dropdown{
    width: 15px;
    height: 15px;
    fill: #d95d4a;
}

@media (min-width: 1024px){
.Footer{
    padding: var(--space-xl) 0 0;
}
}

.footer{
    display: block;
    background-color: #f9fafb;
    padding-top: 80px;
    height: 1349px;
    width: 891px;
}

.footerGroupTitle{
    color: #d95d4a;
    font-family: Silka,Helvetica Neue,sans-serif;
    font-weight: 700;
    letter-spacing: .1px;
}

@supports (font-size:clamp(1px,1px,1px)){
.FooterGroupTitle{
    font-size: clamp(1.9rem,1.04vw,2rem);
}
}

@media (min-width: 1024px){
.FooterlinksList {
    column-count: 3;
}
}

.FooterlinksList {margin: 0;
padding: 0;
list-style-type: none;
}

.FooterlinksList li {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    text-decoration: none;
    }

@media (min-width: 1024px){
.footersocial{
    border-top: none;
    padding: var(--space-l) 0 0;
    margin-top: 0;
    padding: var(--space-xl) 0 0;
}
}
    
.footersocial{
    display: flex;
}

.footerSocialBotton{
    color: #d95d4a;
    transition: color .2s;
    border-radius: 50%;
    margin: 0 3rem 0 0;
}

#navBar2{
    height: 200px;
    border-top: 1px solid lightgray;
}

.meta-icon2{
    width: 32px;
    height: 32px;
    fill: #d95d4a;
}

.meta-icon2 svg{
    fill: #d95d4a;
}

.navTextLeft > a:first-child{
   margin-right: 0.4rem;
   line-height: 0;
   display:inline-block;
   
}