@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brandOrange: #d95d4a;
}

body {
    font-family: 'Meera Inimai', sans-serif;
    font-size: 16px;
}
#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    border-bottom: 1px solid lightgray;
}

.navSection {
    width: 180px;
}

.navText {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.navText a {
    text-decoration: none;
    color: black;
}

.fa-chevron-down {
    color: var(--brandOrange);
}

.logo {
    width: 200px;
    margin-left: 40px;
    margin-top: 10px;
}

#searchIcon {
    width: 30px;
    float: right;
    margin-right: 40px;
}

.heroWrapper {
    margin-top: 40px;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
}

.container{
    margin: auto;
    max-width: 1320px;
}

.join-baking-mad{
    display: flex;
}

#bakingmad p{
    margin-bottom: 2rem;
}
#bakingmad h4{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
#bakingmad{
    display: flex;
    flex-direction: column;
}

.mb-3{
    margin-bottom: 3rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-1{
    margin-top: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}


.hero {
    height: 700px;
    width: 83vw;
    background-image: url("/images/Banana-Bread-SQUARE-4.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    box-sizing: border-box;
}

.hero p{
margin: 2rem 0  ;
font-size: 1.2rem;
}
.hero h1{
    font-size: 52.72px;
    font-weight: 700;
}

#bakeButton {
    background-color: var(--brandOrange);
    border: none;
    width: 162px;
    height: 50px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

/* recipe card */
.comfortFood{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
}
.recipeSection{
    display: flex;
}
.recipeCard{
    margin-right: 2rem;
    width: 305px;
    margin-bottom: 3rem;
    /* height: 516px; */
}
.recipeCard:last-child{
    margin-right: 0;
}

.recipeCard img{
    width: 100%;
    height: 395px;
    margin-bottom:1rem;
    object-fit: cover;
}
.recipeCard h3{
    margin-bottom: 3rem;
   font-size: 20px;
}

.instruction div{
    margin: 0 1rem 0 0;
}

.instruction{
    height: 58px;
    font-size: 10px;
}

.instruction p{
    margin-top: 0.6rem;
}

.serve .meta-icon svg, .little-effort .meta-icon svg{
    fill: var(--brandOrange);
}

.meta-icon{
    width: 32px;
    height: 32px;
}

.d-flex{
    display: flex;
}

.mr-1{
    margin-right:1rem ;
}

.vegeterian {
    width: 32px;
    height: 32px;
    fill: #76ec72;
}

.vege {
    margin-left: 1rem;
}

.newsletter{
    display: flex;
    justify-content: center;
    padding: 3rem;
    flex-direction: column;
    height: 372px;
    width: 85%;
    border-radius: 0.2rem;
    background-color: #bdd;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 414 485' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h414v485H0z'/%3E%3Cpath d='M8.54 0C-38.683 210.176 109.94 359.744 454.413 448.704c344.472 88.96 477.345 30.625 398.62-175.003L724.51 18.612 8.54 0z' id='c'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23BDD' d='M0 0h414v485H0z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg mask='url(%23b)'%3E%3Cg transform='translate(-591 -384)'%3E%3Cpath d='M175.06 887.985c129.446-134.042 274.555-197.59 435.327-190.644 160.772 6.946 210.003 158.463 147.693 454.552L175.06 887.985z' fill='%23F396A1'/%3E%3Cpath d='M948.962 870c-46.734-52.658-74.078-89.586-82.033-110.785-19.267-51.344 1.62-89.334 62.742-113.91 174.25-70.063 519.838-75.183 683.546-21.014 109.138 36.113 224.579 117.682 346.322 244.709l-1010.577 1z' fill='%236CC4CC'/%3E%3Cuse fill='%23F3EDE9' xlink:href='%23c'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    line-height: 1.3;
    margin-top: 85px;
}

.newsletter h2{
    font-size: 32px;
}

.newsletter .input-line{
    display: flex;
}
.newsletter .input-line input{
    width: 35%;
    margin-right: 1rem;
    border-radius: 0.2rem;
    border: 0;
}
.newsletter .input-line button{
    width: 139px;
    height: 48px;
    outline: none;
    background-color: #007c8a;
    border-radius: 0.2rem;
    color: white;
    font-weight: 700;
    border: 0;
}

#IGicon {
    margin-right: 20px;
}
#IGicon *{
    fill: var(--brandOrange);
}

.white-trans-edge-left{
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 48%);
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
}
.white-trans-edge-right{
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 48%);
    right: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    
}

.baking-cards-div{
    display: flex;
}
.tweets{
    position: relative;
    overflow-x: hidden;
    margin-top: 2rem;
    margin-bottom: 7rem;
    display: flex;
    justify-content: center;
    background: linear-gradient(282deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
}

.tweets img:not(:last-child){
    margin-right: 1.5rem;
}
.tweets img{
    height: 263px;
    width: 263px;
    display: flex;
    flex-direction: row;
}

.hero2 {
    height: 450px;
    width: 90vw;
    background-image: url("/images/Pick\ and\ Mix\ Cake\ Jar\ Horizontal_3.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    box-sizing: border-box;
}

.sectionHeader{
    text-align: left;
    margin-left: 6rem;
}

@media (max-width:1500px) {
    .recipeSection{
        flex-wrap: wrap;
        justify-content: center;
    }
    .recipeCard{
        width: 40%;
        /* margin-right: unset; */
    }
    .newsletter .input-line input{
        width: 44%;
    }
}

@media (max-width:800px) {
    .recipeCard{
        width: 100%;
    }
    .newsletter{
        height: 290px;
    }
}

#dropdown{
    width: 15px;
    height: 15px;
    fill: var(--brandOrange);
}

@media (min-width: 1024px){
.Footer{
    padding: var(--space-xl) 0 0;
}
}

.footer{
    background-color: #f9fafb;
    padding-top: 80px;
    justify-content: center;
    padding-bottom: 4rem;
}

.footer h3{
    margin-bottom: 3.5rem;
}
.footer ul{
    margin-right: 100px;
}
.footer ul li{
    margin-bottom: 1.7rem;
}

.footer .container div .FooterlinksList:nth-child(2){
    margin-right: 0;
} 

.footer a{
    text-decoration: none;
    color: #44424C;
    transition: 0.5s;
}

.footer a:hover{
    color: var(--brandOrange);
    margin-left: 0.6rem;
}

.footerGroupTitle{
    color: var(--brandOrange);
    font-weight: 700;
    letter-spacing: .1px;
    margin-top: 3rem;
    margin-bottom: 10px;
}

/* @supports (font-size:clamp(1px,1px,1px)){
.FooterGroupTitle{
    font-size: clamp(1.9rem,1.04vw,2rem);
}
} */

/* @media (min-width: 1024px){
.FooterlinksList {
    column-count: 3;
}
} */

.FooterlinksList {margin: 0;
padding: 0;
list-style-type: none;
margin-top: 2px;
}

.FooterlinksList li {
    display: block;
    list-style-type: none;
    text-decoration: none;
    margin-right: 10rem;
    font-size: 12px;
    }

@media (min-width: 1024px){
.footersocial{
    border-top: none;
    padding: var(--space-l) 0 0;
    margin-top: 0;
    padding: var(--space-xl) 0 0;
}
}
    
.footersocial{
    display: flex;
}

.footerSocialBotton{
    color: var(--brandOrange);
    transition: color .2s;
    border-radius: 50%;
    margin: 0 3rem 0 0;
}

#navBar2{
    height: 200px;
    background-color: #f9fafb;
    border-top: 1px solid lightgray;

}

.meta-icon2 *{
    width: 32px;
    height: 32px;
    fill: var(--brandOrange);
}

.meta-icon2 svg{
    fill: var(--brandOrange);
}

.navTextLeft > a:first-child{
   margin-right: 0.4rem;
   line-height: 0;
   display:inline-block;
   
}


.hero2 p{
    margin: 2rem 0  ;
    font-size: 1.2rem;
    }
.hero2 h1{
        font-size: 30px;
        font-weight: 700;
    }

.footerMargin{
    margin-left: 6.5rem;
}

.marginChange{
    margin-right: 6.8rem;
    margin-left: 6.8rem;
}

.footerMargin2{
    margin-left: 8rem;
}

.navText2{
    display: flex;
    margin-left: 7rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.navText2 a{
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.logo2{
    margin-left: 7rem;
    height: 24px;
    width: 120px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.at{
    font-size: 13px;
}